##
## AquaCrop Irrigation Data - Main File
##
#macro(hint $val)${format.headerInt($val)}#end
#macro(vp $val)${format.dbl($val,6,1)}#end
#macro(int $val)${format.num($val,8)}#end
#macro(dbl $val)${format.dbl($val,8,1)}#end
#macro(dbl0 $val)${format.dbl($val,8,0)}#end
#macro(dbl2 $val)${format.dbl($val,8,2)}#end
#macro(dbl6 $val)${format.dbl($val,8,6)}#end
##
$irrigation.name
    $aquacrop_version : AquaCrop Version
#hint(${irrigation.irrigationMethod}) : ${irrigation.method}
#hint(${irrigation.percSoilSurfaceWetted}) : Percentage of soil surface wetted by irrigation
    1 : Irrigation schedule

   Day    Depth (mm)   ECw (dS/m)
====================================
#foreach($h in $irrigation.items)
 #dbl0($h.numberOfDaysAfterSowingOrPlanting) #dbl0($h.applicationDepth) #dbl($h.electricalConductivityOfIrrigationWater)
 
#end
